:root {
    --main-bg-color: red;
    --target-color: blue;
}

.box {

    width: 200;
    height: 50px;
    background-color: var(--target-color);

    animation-name: colorswap;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    display: block;
}

.box2 { animation-duration: 1s;}
.box3 { animation-duration: 0.5s;}

@keyframes colorswap {
    from { 
        background-color: var(--main-bg-color);
        width: 200px; 
}
    to {
        background-color: var(--target-color);
        width: 400px;
    }
}

/* .box {
    width: 200px;
    height: 200px;
    background-color: red;
    margin: 2em 2em;

    /* transition: all 1s ease; /* "all" means everything it will be animate */
    /*transition: background-color 1s ease, width 2s ease, height 0.5s; */
    /* transition-delay: 2s; /* transition with a delay when you pass the mouse over the object */
 

/* CSS Tricks Transitions */
/* https://css-tricks.com/almanac/properties/t/transition/ */

/*.box:hover {
    background-color: blue;
    width: 400px;
    height: 50px;
    cursor: pointer;

    /* transform: rotate(40deg); /* rotate the object */

